<div class="container">
    {{> header}}
    <h1>Team Manager Homework</h1>
    <p>Task done, using: SammyJS, Handlebars, JQuery</p>
    <p>JavaScript Design Patterns: Revealing modules pattern, MVVM</p>
</div>
{{> footer}}