<section id="viewDetailsAd" class="viewDetailsAd">
    <h1 class="titleForm">Advertisement Details</h1>
    <div id="adDetails" class="adDetails">
        <form id="formDetailsAd" class="form">
            <div>Image:</div>
            <div class="adImage"><img src=""></div>
            <div>Title:</div>
            <div><input type="text" name="title" value="" disabled/></div>
            <div>Description:</div>
            <div><textarea name="description" rows="10" disabled></textarea></div>
            <div>Publisher:</div>
            <div><input type="text" name="publisher" value="" disabled/></div>
            <div>Date Published:</div>
            <div><input type="date" name="datePublished" value="" disabled/></div>
            <div>Views:</div>
            <div><input type="number" name="views" value="" disabled/></div>
            <div><input type="button" id="buttonBack" value="Back"/></div>
        </form>
    </div>
</section>